Body{background-color:#bf80ff;}
#container {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}

h1{text-allign:center;}
h3{text-allign:center;}
h5{text-allign:center; border-style: double;}
p{
color:black;
  font-family:Lucida Console;
}
